@page
@model EasyMessenger.Pages.account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <h4>Вход</h4>
                </div>
                <div class="card-body">
                    <form id="loginForm">
                        <div id="errorMessage" class="text-danger"></div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Email</label>
                            <input type="email" class="form-control" id="username" placeholder="Введите email" required />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="password" placeholder="Введите пароль" required />
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("loginForm").addEventListener("submit", async e => {
            e.preventDefault();

            const email = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            const response = await fetch("/login", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ email, password })
            });

            const errorMessage = document.getElementById("errorMessage");

            if (response.ok) {
                const data = await response.json();
                document.cookie = `accessToken=${data.access_token}; path=/`;
                errorMessage.textContent = "";
                window.location.href = "/Index";
            } else {
                errorMessage.textContent = "Ошибка авторизации. Проверьте данные.";
            }
        });
    </script>
}
